In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# 1️⃣ Datasetni o‘qish
df = pd.read_csv("C:/Users/xolmu/OneDrive/Desktop/3chi_project/Data/Raw_Data/energydata_complete.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19739 entries, 0 to 19738
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19739 non-null  object
 1   Appliances   19739 non-null  object
 2   lights       19736 non-null  object
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), object(3)
memory usage: 4.4+ MB

# Data preprocessing

In [3]:
# class
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

class Datapreprocessing:
    def __init__(self, df):
        self.df = df.copy()
    
    # Handle missing values
    def tozala(self):
        for col in self.df.columns:
            if self.df[col].isnull().any():
                if self.df[col].dtype == 'object':
                    self.df[col].fillna(self.df[col].mode()[0], inplace=True)
                else:
                    self.df[col].fillna(self.df[col].mean(), inplace=True)
        return self
    
    # Encode categorical variables
    def encodla(self):
        encoder = LabelEncoder()
        for col in self.df.columns:
            if self.df[col].dtype == 'object':
                if self.df[col].nunique() <= 5:  # few categories → OneHot
                    dummies = pd.get_dummies(self.df[col], prefix=col, dtype=int)
                    self.df = pd.concat([self.df.drop(columns=[col]), dummies], axis=1)
                else:  # many categories → Label Encoding
                    self.df[col] = encoder.fit_transform(self.df[col])
        return self
    
    # Scale numeric features
    def scale_qil(self):
        scaler = MinMaxScaler()
        num_cols = self.df.select_dtypes(include=['int64', 'float64']).columns.drop('xG', errors='ignore')
        self.df[num_cols] = scaler.fit_transform(self.df[num_cols])
        return self

In [4]:
preprocessor = Datapreprocessing(df)

data = (
    preprocessor
    .tozala()
    .encodla()
    .scale_qil()
    .df
)

print(data.head())

   date  Appliances  lights       T1      RH_1        T2      RH_2        T3  \
0  5760          59       4  0.32735  0.566187  0.225345  0.684038  0.215188
1  5761          59       4  0.32735  0.541326  0.225345  0.682140  0.215188
2  5762          48       4  0.32735  0.530502  0.225345  0.679445  0.215188
3  5763          48       5  0.32735  0.524080  0.225345  0.678414  0.215188
4  5764          59       5  0.32735  0.531419  0.225345  0.676727  0.215188

       RH_3        T4  ...        T9      RH_9     T_out  Press_mm_hg  \
0  0.746066  0.351351  ...  0.223032  0.677290  0.372990     0.097674
1  0.748871  0.351351  ...  0.226500  0.678532  0.369132     0.100000
2  0.755569  0.344745  ...  0.219563  0.676049  0.365595     0.102326
3  0.758685  0.341441  ...  0.219563  0.671909  0.361736     0.104651
4  0.758685  0.341441  ...  0.219563  0.671909  0.357878     0.106977

     RH_out  Windspeed  Visibility  Tdewpoint       rv1       rv2
0  0.894737   0.500000    0.953846   0.538462  0.265449  0.265449
1  0.894737   0.476190    0.894872   0.533937  0.372083  0.372083
2  0.894737   0.452381    0.835897   0.529412  0.572848  0.572848
3  0.894737   0.428571    0.776923   0.524887  0.908261  0.908261
4  0.894737   0.404762    0.717949   0.520362  0.201611  0.201611

[5 rows x 29 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19739 entries, 0 to 19738
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19739 non-null  int32
 1   Appliances   19739 non-null  int32
 2   lights       19739 non-null  int32
 3   T1           19739 non-null  float64
 4   RH_1         19739 non-null  float64
 5   T2           19739 non-null  float64
 6   RH_2         19739 non-null  float64
 7   T3           19739 non-null  float64
 8   RH_3         19739 non-null  float64
 9   T4           19739 non-null  float64
 10  RH_4         19739 non-null  float64
 11  T5           19739 non-null  float64
 12  RH_5         19739 non-null  float64
 13  T6           19739 non-null  float64
 14  RH_6         19739 non-null  float64
 15  T7           19739 non-null  float64
 16  RH_7         19739 non-null  float64
 17  T8           19739 non-null  float64
 18  RH_8         19739 non-null  float64
 19  T9           19739 non-null  float64
 20  RH_9         19739 non-null  float64
 21  T_out        19739 non-null  float64
 22  Press_mm_hg  19739 non-null  float64
 23  RH_out       19739 non-null  float64
 24  Windspeed    19739 non-null  float64
 25  Visibility   19739 non-null  float64
 26  Tdewpoint    19739 non-null  float64
 27  rv1          19739 non-null  float64
 28  rv2          19739 non-null  float64
dtypes: float64(26), int32(3)
memory usage: 4.1 MB

In [6]:
df=data

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19739 entries, 0 to 19738
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19739 non-null  int32
 1   Appliances   19739 non-null  int32
 2   lights       19739 non-null  int32
 3   T1           19739 non-null  float64
 4   RH_1         19739 non-null  float64
 5   T2           19739 non-null  float64
 6   RH_2         19739 non-null  float64
 7   T3           19739 non-null  float64
 8   RH_3         19739 non-null  float64
 9   T4           19739 non-null  float64
 10  RH_4         19739 non-null  float64
 11  T5           19739 non-null  float64
 12  RH_5         19739 non-null  float64
 13  T6           19739 non-null  float64
 14  RH_6         19739 non-null  float64
 15  T7           19739 non-null  float64
 16  RH_7         19739 non-null  float64
 17  T8           19739 non-null  float64
 18  RH_8         19739 non-null  float64
 19  T9           19739 non-null  float64
 20  RH_9         19739 non-null  float64
 21  T_out        19739 non-null  float64
 22  Press_mm_hg  19739 non-null  float64
 23  RH_out       19739 non-null  float64
 24  Windspeed    19739 non-null  float64
 25  Visibility   19739 non-null  float64
 26  Tdewpoint    19739 non-null  float64
 27  rv1          19739 non-null  float64
 28  rv2          19739 non-null  float64
dtypes: float64(26), int32(3)
memory usage: 4.1 MB

In [8]:
# 1. Date ustunini datetime formatga o‘tkazish va yangi ustunlar yaratish

# Date ustunini datetime formatga o'tkazish
df['date'] = pd.to_datetime(df['date'], dayfirst=True)

# Yangi ustunlar yaratish
df['hour'] = df['date'].dt.hour
df['day'] = df['date'].dt.day
df['weekday'] = df['date'].dt.weekday
df = df.drop(columns=['date'])  # Eski 'date' ustunini o‘chirish

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19739 entries, 0 to 19738
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Appliances   19739 non-null  int32
 1   lights       19739 non-null  int32
 2   T1           19739 non-null  float64
 3   RH_1         19739 non-null  float64
 4   T2           19739 non-null  float64
 5   RH_2         19739 non-null  float64
 6   T3           19739 non-null  float64
 7   RH_3         19739 non-null  float64
 8   T4           19739 non-null  float64
 9   RH_4         19739 non-null  float64
 10  T5           19739 non-null  float64
 11  RH_5         19739 non-null  float64
 12  T6           19739 non-null  float64
 13  RH_6         19739 non-null  float64
 14  T7           19739 non-null  float64
 15  RH_7         19739 non-null  float64
 16  T8           19739 non-null  float64
 17  RH_8         19739 non-null  float64
 18  T9           19739 non-null  float64
 19  RH_9         19739 non-null  float64
 20  T_out        19739 non-null  float64
 21  Press_mm_hg  19739 non-null  float64
 22  RH_out       19739 non-null  float64
 23  Windspeed    19739 non-null  float64
 24  Visibility   19739 non-null  float64
 25  Tdewpoint    19739 non-null  float64
 26  rv1          19739 non-null  float64
 27  rv2          19739 non-null  float64
 28  hour         19739 non-null  int32
 29  day          19739 non-null  int32
 30  weekday      19739 non-null  int32
dtypes: float64(26), int32(5)
memory usage: 4.3 MB

In [10]:
df.columns

Index(['Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4',
       'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9',
       'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2', 'hour', 'day', 'weekday'],
      dtype='object')

# Feature Engineering

In [11]:
import pandas as pd
import numpy as np

# --------- 1. WEEKDAY (dam olish kuni belgisi) ---------
# Ma'nosi: dam olish kuni bo'lsa 1, aks holda 0
df['is_weekend'] = df['weekday'].apply(lambda x: 1 if x >= 5 else 0)

# --------- 2. TIME OF DAY (kunning qaysi vaqti) ---------
# Ma'nosi: tong, tush, kechki, tun
def hour_category(hour):
    if 5 <= hour < 12:
        return 'morning'
    elif 12 <= hour < 17:
        return 'afternoon'
    elif 17 <= hour < 21:
        return 'evening'
    else:
        return 'night'

df['time_of_day'] = df['hour'].apply(hour_category)

# One-hot encoding (kategoriya ustunlarini raqamlashtirish)
df = pd.get_dummies(df, columns=['time_of_day'], drop_first=True)

# --------- 3. T1_T_out_diff ---------
# Ma'nosi: Oshxona harorati - tashqi harorat
df['T1_Tout_diff'] = df['T1'] - df['T_out']

# --------- 4. avg_indoor_temp ---------
# Ma'nosi: ichki xonalar haroratining o‘rtachasi
temp_cols = ['T1','T2','T3','T4','T5','T6','T7','T8','T9']
df['avg_indoor_temp'] = df[temp_cols].mean(axis=1)

# --------- 5. RH1_RHout_diff ---------
# Ma'nosi: Oshxona namligi - tashqi namlik
df['RH1_RHout_diff'] = df['RH_1'] - df['RH_out']

# --------- 6. avg_indoor_humidity ---------
# Ma'nosi: barcha ichki xonalar namligining o‘rtachasi
rh_cols = ['RH_1','RH_2','RH_3','RH_4','RH_5','RH_6','RH_7','RH_8','RH_9']
df['avg_indoor_humidity'] = df[rh_cols].mean(axis=1)

# --------- 7. weather_stress ---------
# Ma'nosi: shamol tezligi × bosim (bosim + shamol stress darajasi)
df['weather_stress'] = df['Windspeed'] * df['Press_mm_hg']

# --------- 8. is_foggy ---------
# Ma'nosi: agar ko‘rinish < 40 bo‘lsa tumanli deb belgilanadi
df['is_foggy'] = df['Visibility'].apply(lambda x: 1 if x < 40 else 0)

# --------- 9. rv1_rv2_sum ---------
# Ma'nosi: ikki random ustunning yig‘indisi
df['rv1_rv2_sum'] = df['rv1'] + df['rv2']

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19739 entries, 0 to 19738
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Appliances           19739 non-null  int32
 1   lights               19739 non-null  int32
 2   T1                   19739 non-null  float64
 3   RH_1                 19739 non-null  float64
 4   T2                   19739 non-null  float64
 5   RH_2                 19739 non-null  float64
 6   T3                   19739 non-null  float64
 7   RH_3                 19739 non-null  float64
 8   T4                   19739 non-null  float64
 9   RH_4                 19739 non-null  float64
 10  T5                   19739 non-null  float64
 11  RH_5                 19739 non-null  float64
 12  T6                   19739 non-null  float64
 13  RH_6                 19739 non-null  float64
 14  T7                   19739 non-null  float64
 15  RH_7                 19739 non-null  float64
 16  T8                   19739 non-null  float64
 17  RH_8                 19739 non-null  float64
 18  T9                   19739 non-null  float64
 19  RH_9                 19739 non-null  float64
 20  T_out                19739 non-null  float64
 21  Press_mm_hg          19739 non-null  float64
 22  RH_out               19739 non-null  float64
 23  Windspeed            19739 non-null  float64
 24  Visibility           19739 non-null  float64
 25  Tdewpoint            19739 non-null  float64
 26  rv1                  19739 non-null  float64
 27  rv2                  19739 non-null  float64
 28  hour                 19739 non-null  int32
 29  day                  19739 non-null  int32
 30  weekday              19739 non-null  int32
 31  is_weekend           19739 non-null  int64
 32  T1_Tout_diff         19739 non-null  float64
 33  avg_indoor_temp      19739 non-null  float64
 34  RH1_RHout_diff       19739 non-null  float64
 35  avg_indoor_humidity  19739 non-null  float64
 36  weather_stress       19739 non-null  float64
 37  is_foggy             19739 non-null  int64
 38  rv1_rv2_sum          19739 non-null  float64
dtypes: float64(32), int32(5), int64(2)
memory usage: 5.5 MB

# Feature selection

In [ ]:
import numpy as np
import pandas as pd
from sklearn.feature_selection import mutual_info_regression

# Xususiyatlar (featurelar)
x = df.drop(columns=["personality_type"])   # target ustunni olib tashlaymiz

# Target
y = df["personality_type"]

# Inf qiymatlarni NaN ga o'zgartirish
x = x.replace([np.inf, -np.inf], np.nan)

# X va y ni birlashtirib, NaN bo‘lgan satrlarni tashlash
df_clean = pd.concat([x, y], axis=1).dropna()

x_clean = df_clean.drop('personality_type', axis=1)
y_clean = df_clean['personality_type']

# Mutual information hisoblash
mi = mutual_info_regression(x_clean, y_clean, random_state=42)
mi_series = pd.Series(mi, index=x_clean.columns).sort_values(ascending=False)

# Vizualizatsiya
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(12,6))
sns.barplot(x=mi_series.index, y=mi_series.values)
plt.xticks(rotation=90)
plt.ylabel("Mutual Information (personality_type bilan)")
plt.title("Feature'larning personality_type bilan bogliqligi (Mutual Info)")
plt.show()

 # Shu kod bilan biz:

 # NaN va inf qiymatlarni tozalaymiz

 # Mutual information hisoblaymiz

# Eng predictive feature’larni vizual ko‘ramiz